:root{
    --caixa-cor-frente: #ffffff;
    --caixa-cor-verso: rgb(255, 0, 0);
    --fundo: #33ff00;
    --preto: black;
    --branco: white;
    --cor-texto-destaque: #ff3030;
}

body{
background-color: var(--fundo);

}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--branco);
    width: 100%;
    text-align: center;
}